body {font-family:arial,sans-serif;
     }

.core {margin:0 auto;
       width:50px;
       float:center;
       text-align:center;
       padding:150px;
}


ul {list-style-type:none;
    margin:0;
    padding:0;
   }

li {display:inline;
   width:60px;
   float:right;
}
